@import "config", "utilities";

#nav-bar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background-color: $primary-light-color;
  border-bottom: $secondary-dark-color 1px solid;
  #nav-bar-content{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    h1{
      margin-left: 0.5rem;
    }
    #nav-menu{
      display: flex; li{
        padding: 0 0.75rem;
        font-size: 1.3rem;
      }
      a:hover{
        color: $secondary-dark-color;
      }
    }

  }
}

#welcome-section{
  //height: 100vh;
  width: 100%;
  #welcome-video{
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  #welcome-content{
    background: rgba(0,0,0, 0.3);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-light-color;
    h1{
      font-size: 6.5rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    p{
      font-size: 1.5rem;
      margin-bottom: 4rem;
      text-align: center;
    }
    .arrow{
      font-size: 5rem;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
  }
}

#quote-section{
  position: relative;
  background: $primary-light-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5rem 0;
  #quote-section-content{
    font-family: "Lato", sans-serif;
    text-align: center;
    #quote-title{
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    #quote-paragraph{
      font-size: 1.5rem;
      color: rgba($primary-dark-color, 0.65);
      margin-bottom: 1.7rem;
    }
    #quote-author{
      font-size: 1.2rem;
      color: rgba($primary-dark-color, 0.7);
    }
  }
}


#attractions{
  background-color: rgba($secondary-dark-color, 0.5);
  #attractions-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    #attractions-title {
      font-family: Lato, sans-serif;
      font-size: 3rem;
      margin-bottom: 0.5rem;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      transform: translate(-700px, 0);
      z-index: 4;

      &.show {
        transform: none;
        visibility: visible;
        opacity: 1;
      }
    }
    #attractions-paragraph{
      font-family: Lato, sans-serif;
      font-size: 1.2rem;
    }
    #attractions-gallery{
      //height: 70vh;
      width: 90%;
      margin: 0 auto 5rem auto;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(7, 4vw);
      grid-gap: 1rem;
      img{
        width: 100%;
        height: 100%;
        border: 1rem $primary-light-color solid;
      }
      #dome{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 8;
      }
      #lighthouse{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 4;
      }
      #street{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 4;
        grid-row-end: 8;
      }
    }
    }
  }
