@import "config";

@media screen and (max-width: 2000px) {
  html{
    body{
      #attractions{
        #attractions-content{
          #attractions-title{
          }
          #attractions-gallery{
            width: 90%;
            margin-left: -2rem;
          }
        }
      }
      #quote-section{
        #quote-section-content{
          #quote-paragraph{
            margin: 0 0.5rem;
          }
        }
      }

      //#events{
      //  #events-content{
      //    #events-cards-container{
      //      #events-cards{
      //        .events-card{
      //          .events-card-text{
      //            .button-visit a{
      //              transition: none;
      //              .button-visit:hover .arrow{
      //                left: -200px;
      //              }
      //            }
      //          }
      //        }
      //      }
      //    }
      //  }
      //}
      #footer{
        height: 20vh;
        #footer-content{
          #footer-contact{
            font-size: 3rem;
          }
          .logo{
            font-size: 2.5rem;
            //margin: 0 0 0.5rem 0;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  html{
    body{
      #welcome-section {
        #welcome-content {
          h1{
            font-size: 6rem;
          }
        }
      }
      #attractions{
        #attractions-content{
          #attractions-title{
            transform: translate(-200px, 0);
          }
          #attractions-paragraph{
            margin: 0 1rem 1rem 1rem;
          }
          #attractions-gallery{
            width: 90%;
            margin-left: -2rem;
          }
        }
      }
      #quote-section{
        #quote-section-content{
          #quote-paragraph{
            margin: 0 0.5rem;
          }
        }
      }
      #events{
        #events-content{
          p{
            font-size: 1rem;
            padding: 0 0.5rem;
          }
          #events-cards-container{
            margin: 0 2rem;
            #events-cards{
              div.events-card:last-child{
                display: none;
              }
            }
          }
        }
      }

      #dining{
        #dining-content{
          p{
            font-size: 1.2rem;
          }
        }
      }
      #events {
        #events-content {
          #events-cards-container{
            margin: 0 1rem;
          }
        }
      }
      #footer{
        #footer-content{
          .logo{
            margin: 0;
          }
          .nav-menu{
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) and (max-height: 400px){
  html{
    body{
      #nav-bar{
        padding: 2rem 0;
      }
      #welcome-section {
        #welcome-content {
          h1{
            margin-top: 8rem;
            margin-bottom: -1rem;
            font-size: 5rem;
          }
          p{
            margin-bottom: 0;
          }
          .fa-chevron-down:before{
            font-size: 65%;
          }
      }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  html {
    body{
      #nav-bar {
        #nav-bar-content {
          .nav-menu {
            display: none;
          }
        }
      }

      #welcome-section{
        #welcome-content{
          h1{
            font-size: 2.7rem;
          }
          p{
            font-size: 1.2rem;
            margin-bottom: 0;
          }
          .fa-chevron-down:before{
            font-size: 70%;
          }
        }
      }
      #quote-section{
        padding: 1rem;
        #quote-section-content{
          #quote-title {
            font-size: 2rem;
          }
          #quote-paragraph{
            font-size: 1.1rem;
          }
        }
      }
      #attractions{
        #attractions-content{
          #attractions-title {
            transition: all 0.5s ease-in-out;
            transform: translate(-40px, 0);
            font-size: 2rem;
          }
          #attractions-paragraph{
            font-size: 1rem;
          }
          #attractions-gallery{
            width: 90%;
            grid-gap: 0.25rem;
            margin-left: -0.75rem;
            grid-template-rows: repeat(7, 8vw);
            margin-bottom: 1rem;
            img{
              border: 0.25rem $primary-light-color solid;
            }
          }
        }
      }
      #events {
        #events-content {
          h1{
            font-size: 2rem;
          }
          p{
            font-size: 1rem;
          }
          #events-cards-container{
            margin: 0;
            #events-cards{
              display: flex;
              flex-direction: column;
              div.events-card{
                margin-bottom: 1.2rem;
                .events-card-text{
                  .button-visit a{
                    font-size: 150%;
                  }
                }
              }
              div.events-card:last-child {
                display: flex;
                margin-bottom: 0;
              }
            }
          }
        }
      }
      #dining{
        height: 40vh;
        #dining-content{
          h1{
            font-size: 2rem;
          }
          p{
            font-size: 1rem;
          }
        }
      }
      #footer{
        height: 15vh;
        padding: 0.5rem;
        #footer-content{
          #footer-contact{
            font-size: 2rem;
          }
          .logo{
            font-size: 2rem;
          }
          .nav-menu{
            li {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}


